@{
    ViewBag.Title = "About";
}

<h2><font color="#660066" face="Comic Sans MS">Minnela's Bug Tracking System</font></h2>

<p><font color="#0066CC" face="Comic Sans MS">Minnela's Bug Tracking System is a system, which:</font></p>
  <p><font face="Comic Sans MS">
    *Certifies the quality of solutions and services provided by us
</font>
</p>
<p><font face="Comic Sans MS">
    *Confirms our experience in implementing solutions in companies
</font>
</p>
<p><font  face="Comic Sans MS">
    *Allows us to offer more favorable conditions for the purchase of a license.</font>
</p>

<h2><font color="#660066" face="Comic Sans MS">Just Register and Earn Your Time !</font></h2>

<p><a class="btn btn-primary" href="/Account/Register">Register &raquo;</a></p>