@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Minnela's Production<br />
    TURKEY, Ankara 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:minelaydinn@gmail.com">minelaydinn@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:minnelasproduction@gmail.com">minnelasproduction@gmail.com</a>
</address>